{% extends 'base.html' %}

{% block title %}<title>Acknowledgement</title>{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="jumbotron">
    <h2 >Acknowledgement</h2>
    <p  style="text-justify: inter-word;">This project was supported by Science Classroom in University Affiliated School (SCiUS). The funding of SCiUS is provided by Ministry of Higher Education, Science, Research and Innovation. This extended abstract is not for citation.
    </p>

    <br>
    <h4>References</h4>
    <ol>
        <li>Sampaio JC, Wnuk E, Vilhena R and Fernandes SS. Resonant Orbital Dynamics in LEO Region: Space Debris in Focus. Mathematical Problems in Engineering. 2014;2014(2):1-12.</li>
        <li>Riesing K. Orbit Determination from Two Line Element Sets of ISS-Deployed CubeSats. Proc. Of 29th Annual AIAA/USU Conference on Small Satellites, 2015. </li>
        <li>Felix R. Hoots Ronald L. Roehrich. SPACETRACK REPORT NO. 3. 1980.</li>
        <li>Jens T. Simplified Satellite Tracker [internet]. 2018 [cited 2021 Feb 12]. Available from: https://www.satellite-calculations.com/phpgen/listsatellites_tracker.php</li>
    </ol>

    <h4>About</h4>
    <ul style="list-style-type: none;">
        <li>Project Name : "Low Earth Orbit (LEO) satellite tracking program with 3D visualization"</li>
        <li>Author : "Natthaphat Phusaeng"</li>
        <li>Advisor : "Dr. Chaiyapong Ruangsuwan"</li>
        <li>This project is a part of 11th SCiUS forum</li>
    </ul>
    </div>
</div>
{% endblock content %}



