<!--
            <div class="col jumbotron">
                <h4>Output</h4>
                <table class="table table-fixed" id="output" aria-describedby="outputHelp">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">FIELD</th>
                            <th scope="col">DATA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Mean anomaly (M)</th>
                            <th scope="col">{{output["M"]}}&#176</th>
                        </tr>
                        <tr>
                            <th scope="col">Eccentric anomaly (E)</th>
                            <th scope="col">{{output["E"]}}&#176</th>
                        </tr>
                        
                        <tr>
                            <th scope="col">true anomaly (v)</th>
                            <th scope="col">{{output["v"]}}&#176</th>
                        </tr>
                        <tr>
                            <th scope="col">Right ascension (RA)</th>
                            <th scope="col">{{output["RA"]}}&#176</th>
                        </tr>
                        <tr>
                            <th scope="col">Declination (dec)</th>
                            <th scope="col">{{output["dec"]}}&#176</th>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
    <br>-->